/*
sqkz design portfolio 
project styles
author: Riley Hoff
*/
body {
    height: 100vh;
    overflow-y: auto;
}

header h1 {
    text-align: center;
    line-height: 2;
}

main {
    padding: 0 5vw;
}

#about_btn {
    width: calc(50% - 80px);
    font-size: var(--text-body);
    padding: 20px 40px;
    transition: .2s 0s ease-in-out;
    font-family: var(--accent-font);
}

#works_nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

#works_nav .btn {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
    width: 50%;
    transition: all .2s ease-in-out;
    padding: 5px;
}

#works_nav .btn.prev::after,
#works_nav .btn.prev::before {
    text-align: left;
    left: unset;
    right: 0;
}

#works_nav .btn:hover::after {
    visibility: visible;
    width: 100%;
}

h2 {
    font-family: var(--header-font, serif);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.4;
    padding: 7.5vh 0 2.5vh 0;
    margin: 0;
    z-index: 100;
}

main ol {
    font-family: var(--header-font-small, serif);
    list-style-type: none;
    padding: 10vh 0;
    margin: 0;
    max-width: 800px;
}

main ol li {
    font-size: 18px;
    padding: 1.25vh 0;
    font-style: italic;
    font-weight: 600;
    letter-spacing: .05em;
}

#scroll_to_view {
    font-family: var(--accent-font, monospace);
    font-size: var(--text-body);
    padding: 1.25vh 0;
    margin-bottom: 5vh;
    font-style: italic;
    font-weight: 400;
    position: relative;
    width: 25vw;
    left: 65vw;
}

#scroll_to_view::before {
    font-family: var(--accent-font, monospace);
    font-style: normal !important;
    content: "\2193";
    font-size: 100%;
    position: absolute;
    right: 100%;
    top: 90%;
    font-size: 300%;
    line-height: 50%;
    cursor: pointer;
}

#project_desc {
    margin: 0;
    padding: 5vh 0 20vh;
    font-size: var(--text-body);
    line-height: 1.75;
    max-width: 800px;
}

iframe {
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
    margin: 0;
    border: none;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.btn {
    min-width: fit-content;
    width: 90vw;
    font-size: var(--text-body);
    padding: .25em;
    background-color: transparent;
    border: none;
    font-family: var(--accent-font);
}

#mbl_view {
    display: none;
}

/* Sample Works */
#sample_works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 2.3334vw;
    row-gap: 5vh;
    width: 90vw;
    padding: 5vh 0;
    font-size: var(--text-body);
    text-align: center;
    transition: all .4s ease-in-out;
}
#sample_works.sm {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
}
#sample_works.sm img {
    height: auto;
    max-height: 150px;
    margin-bottom: 0;
    transition: all .4s ease-in-out;
}
#sample_works.sm span {
    display: none;
}
#sample_works img {
    width: 100%;
    height: 33.33vh;
    object-fit: contain;
    object-position: center;
    border: none;
    margin-bottom: 10px;
}

#sample_works.small div {
    display: flex;
}

.works {
    display: flex;
    background-color: var(--dark-bg, #aaa);
    padding: 40px 5vw;
    display: flex;
    gap: 20px;
    font-family: var(--accent-font);
    transition: all .4s ease-in-out;
    justify-content: center;
}

.works_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
    max-width: 1024px;
    transition: all .4s ease-in-out;
}

.works_list li {
    width: 100%;
    font-style: normal;
    border-top: 1px solid var(--dark-bg-2);
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.works_list li.active {
    color: var(--dark-bg-2);
}

.works_list li>a {
    display: flex;
    gap: 10%;
    padding: 10px 0 20px;
}

.works_list li:hover {
    width: 97.5%;
}

.works_list h3 {
    font-family: var(--header-font);
    margin: 0;
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    transition: all .4s ease-in-out;
}

.works_list span {
    font-family: var(--accent-font, monospace);
    font-size: var(--text-small);
    width: 25%;
    text-align: right;
}

.works_list .number {
    font-family: var(--accent-font, monospace);
    font-size: var(--text-small);
    width: 5%;
    text-align: right;
}

.works_label {
    position: sticky;
    top: 80px;
    font-family: var(--header-font-small, serif);
    font-weight: 600;
    font-size: var(--text-body);
    font-style: italic;
    text-align: right;
    width: 5vw;
    height: fit-content;
}

.frame_wrap {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 54vh;
    margin-top: 5vh;
}

.frame_wrap iframe {
    position: absolute;
    top: -23vh;
    height: 95vh;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    margin: 2.5vh 0;
    transform: scale(.5);
    transition: ease-in-out .3s;
}

.frame_wrap.expanded {
    padding-top: 0;
}

.frame_wrap.expanded iframe {
    position: relative;
    width: 100vw;
    top: 0;
    left: -5vw;
    transform: scale(1);
    margin-bottom: 5vh;
}

.frame_wrap .menu {
    display: flex;
    flex-direction: column;
}

.slider_wrap {
    position: relative;
    left: -5vw;
    width: 100vw;
    height: 80vh;
}
.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    overflow-y: hidden;
    text-align: center;
}
.slider > div {
    width: 70vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
    font-size: var(--text-body);
    padding-top: 70px;
}
.slider > div:first-of-type { margin-left: 15vw;}
.slider > div:last-of-type { margin-right: 15vw;}
.slider img{
width: 100%;
max-width: 60vw;
height: 60vh;
margin: 0 auto;
object-fit: contain;
cursor: pointer;
}
.thumb_btn.btn {
    cursor: pointer;
    width: fit-content;
    margin: 2.5vh 0 -2.5vh;
    padding-left: .5em;
    padding-right: .5em;
}

@media only screen and (max-width: 786px) {
    .works_list h3 {
        width: 60%;
    }

    .works_list span {
        white-space: nowrap;
        width: fit-content;
    }

    .works_list .number {
        width: fit-content;
    }

    #works_nav a span {
        display: none;
    }

    .btn {
        border: solid var(--accent) .5px;
        padding: .5em;
    }

    .frame_wrap .menu {
        gap: 2.5vh;
    }

    #project_desc {
        line-height: 2;
    }

    .frame_wrap:not(.expanded) iframe {
        border-radius: 20px;
    }
    .slider_wrap, .slider, .thumb_btn { display: none; }
}

@media only screen and (min-width: 787px) {
    /* DESKTOP */

    /* 5% */
    .col_1 {
        position: relative;
        left: 0;
    }

    /* 16.667% */
    .col_2 {
        position: relative;
        left: 11.667vw;
        max-width: 78.334vw;
    }

    /* 33.334% */
    .col_3 {
        position: relative;
        left: 28.334vw;
        width: 61.667vw;
    }

    h2 {
        font-size: calc(2em + 2vw);
    }

    #scroll_to_view {
        left: 1.25em;
    }

    .frame_wrap.expanded iframe {
        width: 95vw;
        left: -2.5vw;
        margin-bottom: 0;
    }

    .frame_wrap .menu {
        position: absolute;
        right: 0;
        width: 20vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        top: 3vh;
        gap: 1vh;
        text-align: left;
        opacity: .25;
        transition: all ease-in-out .3s;
    }

    .frame_wrap .menu:hover {
        opacity: 1;
    }

    .frame_wrap .menu .btn,
    .frame-wrap .menu a {
        text-align: left;
        margin: 0 !important;
        position: relative;
        left: 0;
        white-space: nowrap;
    }

    .frame_wrap.expanded:not(.mbl) .menu {
        position: relative;
        left: -2.5vw;
        width: 95vw;
        height: auto;
        flex-direction: row;
        top: 0;
        gap: 1vh;
        margin-top: 2.5vh;
        text-align: center;
    }

    .frame_wrap.expanded:not(.mbl) .menu .btn,
    .frame-wrap.expanded:not(.mbl) .menu a {
        text-align: center;
    }

    .frame_wrap.mbl {
        padding-top: calc(466px + 5vh);
    }

    .frame_wrap.mbl iframe {
        width: 430px;
        height: 932px;
        left: calc(45vw - 215px);
        top: -233px;
        margin: 2.5vh 0;
        border-radius: 20px;
    }

    .frame_wrap.mbl.expanded {
        padding-top: 0;
    }

    .frame_wrap.mbl.expanded iframe {
        position: relative;
        width: 430px;
        max-height: 95vh;
        top: 0;
        left: 0;
    }

    .frame_wrap.mbl .menu {
        top: 13vh;
    }

    .frame_wrap.expanded.mbl .menu {
        top: 13vh;
    }

    .btn {
        position: relative;
        width: 11.667vw;
        margin-bottom: 2.5vh;
        font-family: var(--accent-font, monospace)
    }

    #works_nav .btn::after {
        visibility: hidden;
        content: "(" attr(data-work) ")";
        position: absolute;
        text-align: right;
        top: 100%;
        left: 0;
        width: 0;
        opacity: .5;
        height: 100%;
        transition: all .2s ease-in-out;
        z-index: -1;
        white-space: nowrap;
        overflow: hidden;
    }

    .btn::before {
        visibility: hidden;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgb(228, 217, 217);
        transition: all .2s ease-in-out;
        z-index: -1;
    }

    .btn:hover::before {
        visibility: visible;
        width: 100%;
    }

    #mbl_view {
        display: inline-block;
    }

    /* sample works */
    #sample_works img {
        filter: grayscale(1);
        opacity: .25;
        transition: all 0.3s ease-in;
    }

    #sample_works div {
        line-height: 1.3;
        color: transparent;
        transition: color 0.3s ease-in;
    }

    #sample_works div:hover img {
        filter: grayscale(0);
        opacity: 1;
    }

    #sample_works div:hover {
        color: black;
    }

}